.gray-container{
    background-color:rgba(128, 128, 128, 0.17)
}
body{
    font-family: Arial, sans-serif; 
}
h3{
    margin: 20px;
}

.custom-lead-small{
    margin: 20px;
    font-size: 1rem;
    line-height: 1;
}

.icon-container{
    display: flex;
    margin: 20px;
}

.circle-icon{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 3px solid #000;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;


}
.circle-icon img {
    width: 60px;
    height: 60px;
    object-fit: contain;
    margin-bottom: 10px;

}

.bottom-nav {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: white;
    box-shadow: 0 -2px 10px rgba(0,0,0,0.1);
    z-index: 1000;
}

.nav-icon {
    margin-bottom: 0.1rem; 
}
.nav-text {
    line-height: 1.1;
}

.badge-container {
    position: relative;
    width: 100%;
}
.badge {
    white-space: nowrap !important;
    overflow: hidden;
    text-overflow: clip;
}